<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/common.js"></script>
    <script src="/js/register.js"></script>  
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <title>SafeStride</title>
</head>
<body>
    <div id="p1">
        <div class="header">
            <h1 style="font-weight: 400">Register with <span style="font-weight: 800; font-style: bold;">SafeStride</span>
            </h1>
            <p>
                Fill in your name, UMass email, password, and phone number to register with SafeStride.
            </p>
        </div>
        <div class="inputs">
            <div class="input">
                <input type="text" name="name" autocomplete="disabled" placeholder="Full Name">
            </div>
            <div class="input">
                <input type="email" name="umass-email" autocomplete="disabled" placeholder="Enter UMass Email">
            </div>
            <div class="input">
                <input type="email" name="confirm-umass-email" autocomplete="disabled" placeholder="Confirm UMass Email">
            </div>
            <div class="input">
                <input type="password" name="password" autocomplete="disabled" placeholder="Password">
            </div>
            <div class="input">
                <input type="password" name="confirm-password" autocomplete="disabled" placeholder="Confirm Password">
            </div>
            <div class="input">
                <input type="text" name="phone-number" autocomplete="disabled" placeholder="Phone Number">
            </div>
        </div>
        <button class="continue">Register</button>
    </div>
</body>
</html>