<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/common.js"></script>
    <script src="/js/trustedcontacts.js"></script>  
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <title>SafeStride</title>
</head>
<body>
    <div id="p1">
        <div class="header">
            <h1 style="font-weight: 400; font-size: 10vw;">Choose your <span style="font-weight: 800; color: #000000; font-style: bold;">trusted contacts</span>&nbsp;
            </h1>
        </div>
        <div class="inputs">
            <div class="input">
                <h3>Contact 1</h3>
                <input type="text" name="name1" autocomplete="disabled" placeholder="Full Name">
                <br><br>
                <input type="text" name="email1" autocomplete="disabled" placeholder="Email">
            </div>
            <div class="input">
                <h3>Contact 2</h3>
                <input type="text" name="name2" autocomplete="disabled" placeholder="Full Name">
                <br><br>
                <input type="text" name="email2" autocomplete="disabled" placeholder="Email">
            </div>
            <div class="input">
                <h3>Contact 3</h3>
                <input type="text" name="name3" autocomplete="disabled" placeholder="Full Name">
                <br><br>
                <input type="text" name="email3" autocomplete="disabled" placeholder="Email">
            </div>
        </div>
        <button class="continue">Continue</button>
    </div>
</body>
</html>